.idea
.idea/
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg
.env

dist
db.sqlite3

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*

log/debug.log

build
doc
home.rst
make.bat
Makefile